-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: accumen_ai
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `academic_assessments`
--

LOCK TABLES `academic_assessments` WRITE;
/*!40000 ALTER TABLE `academic_assessments` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_assessments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_cumulative_result_entries`
--

LOCK TABLES `academic_cumulative_result_entries` WRITE;
/*!40000 ALTER TABLE `academic_cumulative_result_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_cumulative_result_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_cumulative_results`
--

LOCK TABLES `academic_cumulative_results` WRITE;
/*!40000 ALTER TABLE `academic_cumulative_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_cumulative_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_final_result_policies`
--

LOCK TABLES `academic_final_result_policies` WRITE;
/*!40000 ALTER TABLE `academic_final_result_policies` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_final_result_policies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_final_result_rows`
--

LOCK TABLES `academic_final_result_rows` WRITE;
/*!40000 ALTER TABLE `academic_final_result_rows` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_final_result_rows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_final_result_students`
--

LOCK TABLES `academic_final_result_students` WRITE;
/*!40000 ALTER TABLE `academic_final_result_students` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_final_result_students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_final_results`
--

LOCK TABLES `academic_final_results` WRITE;
/*!40000 ALTER TABLE `academic_final_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_final_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_groups`
--

LOCK TABLES `academic_groups` WRITE;
/*!40000 ALTER TABLE `academic_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_levels`
--

LOCK TABLES `academic_levels` WRITE;
/*!40000 ALTER TABLE `academic_levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_result_aggregation_items`
--

LOCK TABLES `academic_result_aggregation_items` WRITE;
/*!40000 ALTER TABLE `academic_result_aggregation_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_result_aggregation_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_result_aggregation_schemes`
--

LOCK TABLES `academic_result_aggregation_schemes` WRITE;
/*!40000 ALTER TABLE `academic_result_aggregation_schemes` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_result_aggregation_schemes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_selection_groups`
--

LOCK TABLES `academic_selection_groups` WRITE;
/*!40000 ALTER TABLE `academic_selection_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_selection_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_student_marks`
--

LOCK TABLES `academic_student_marks` WRITE;
/*!40000 ALTER TABLE `academic_student_marks` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_student_marks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `academic_years`
--

LOCK TABLES `academic_years` WRITE;
/*!40000 ALTER TABLE `academic_years` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_years` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `account_groups`
--

LOCK TABLES `account_groups` WRITE;
/*!40000 ALTER TABLE `account_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `account_heads`
--

LOCK TABLES `account_heads` WRITE;
/*!40000 ALTER TABLE `account_heads` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_heads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `accounting_audit_trails`
--

LOCK TABLES `accounting_audit_trails` WRITE;
/*!40000 ALTER TABLE `accounting_audit_trails` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounting_audit_trails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `accounting_periods`
--

LOCK TABLES `accounting_periods` WRITE;
/*!40000 ALTER TABLE `accounting_periods` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounting_periods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `accounting_settings`
--

LOCK TABLES `accounting_settings` WRITE;
/*!40000 ALTER TABLE `accounting_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounting_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `activity_logs_archive`
--

LOCK TABLES `activity_logs_archive` WRITE;
/*!40000 ALTER TABLE `activity_logs_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `administrative_levels`
--

LOCK TABLES `administrative_levels` WRITE;
/*!40000 ALTER TABLE `administrative_levels` DISABLE KEYS */;
INSERT INTO `administrative_levels` (`id`, `country_id`, `level_number`, `name`, `slug`, `status`, `created_at`, `updated_at`) VALUES (1,21,1,'Division','division',1,'2026-09-05 07:36:14','2026-09-05 07:36:14'),(2,21,2,'District','district',1,'2026-09-05 07:36:14','2026-09-05 07:36:14'),(3,21,3,'Upazila','upazila',1,'2026-09-05 07:36:14','2026-09-05 07:36:14');
/*!40000 ALTER TABLE `administrative_levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `administrative_units`
--

LOCK TABLES `administrative_units` WRITE;
/*!40000 ALTER TABLE `administrative_units` DISABLE KEYS */;
/*!40000 ALTER TABLE `administrative_units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `admissions`
--

LOCK TABLES `admissions` WRITE;
/*!40000 ALTER TABLE `admissions` DISABLE KEYS */;
INSERT INTO `admissions` (`id`, `institute_id`, `branch_id`, `patient_id`, `bed_id`, `admitting_doctor_id`, `admission_date`, `admission_time`, `primary_diagnosis`, `secondary_diagnosis`, `status`, `discharge_date`, `discharge_time`, `discharge_summary`, `notes`, `discharged_by`, `created_at`, `updated_at`, `deleted_at`) VALUES (33,189,NULL,141,NULL,313,'2026-09-10','11:01:00',NULL,NULL,'discharged','2026-09-12','21:17:00',NULL,NULL,2,'2026-09-10 05:01:22','2026-09-12 15:17:33',NULL);
/*!40000 ALTER TABLE `admissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ai_api_keys`
--

LOCK TABLES `ai_api_keys` WRITE;
/*!40000 ALTER TABLE `ai_api_keys` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_api_keys` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ai_logs`
--

LOCK TABLES `ai_logs` WRITE;
/*!40000 ALTER TABLE `ai_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ai_usage`
--

LOCK TABLES `ai_usage` WRITE;
/*!40000 ALTER TABLE `ai_usage` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_usage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `alumni`
--

LOCK TABLES `alumni` WRITE;
/*!40000 ALTER TABLE `alumni` DISABLE KEYS */;
/*!40000 ALTER TABLE `alumni` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `approval_actions`
--

LOCK TABLES `approval_actions` WRITE;
/*!40000 ALTER TABLE `approval_actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `approval_requests`
--

LOCK TABLES `approval_requests` WRITE;
/*!40000 ALTER TABLE `approval_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `approval_steps`
--

LOCK TABLES `approval_steps` WRITE;
/*!40000 ALTER TABLE `approval_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `approval_workflows`
--

LOCK TABLES `approval_workflows` WRITE;
/*!40000 ALTER TABLE `approval_workflows` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_workflows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `archive_jobs`
--

LOCK TABLES `archive_jobs` WRITE;
/*!40000 ALTER TABLE `archive_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `archive_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `assessment_subject_components`
--

LOCK TABLES `assessment_subject_components` WRITE;
/*!40000 ALTER TABLE `assessment_subject_components` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessment_subject_components` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `assessment_subjects`
--

LOCK TABLES `assessment_subjects` WRITE;
/*!40000 ALTER TABLE `assessment_subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessment_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `assessment_types`
--

LOCK TABLES `assessment_types` WRITE;
/*!40000 ALTER TABLE `assessment_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessment_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_audit_logs`
--

LOCK TABLES `asset_audit_logs` WRITE;
/*!40000 ALTER TABLE `asset_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_categories`
--

LOCK TABLES `asset_categories` WRITE;
/*!40000 ALTER TABLE `asset_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_cost_components`
--

LOCK TABLES `asset_cost_components` WRITE;
/*!40000 ALTER TABLE `asset_cost_components` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_cost_components` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_depreciation_entries`
--

LOCK TABLES `asset_depreciation_entries` WRITE;
/*!40000 ALTER TABLE `asset_depreciation_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_depreciation_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_depreciation_runs`
--

LOCK TABLES `asset_depreciation_runs` WRITE;
/*!40000 ALTER TABLE `asset_depreciation_runs` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_depreciation_runs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_disposals`
--

LOCK TABLES `asset_disposals` WRITE;
/*!40000 ALTER TABLE `asset_disposals` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_disposals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_impairments`
--

LOCK TABLES `asset_impairments` WRITE;
/*!40000 ALTER TABLE `asset_impairments` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_impairments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_locations`
--

LOCK TABLES `asset_locations` WRITE;
/*!40000 ALTER TABLE `asset_locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_method_changes`
--

LOCK TABLES `asset_method_changes` WRITE;
/*!40000 ALTER TABLE `asset_method_changes` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_method_changes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_qr_codes`
--

LOCK TABLES `asset_qr_codes` WRITE;
/*!40000 ALTER TABLE `asset_qr_codes` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_qr_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_revaluations`
--

LOCK TABLES `asset_revaluations` WRITE;
/*!40000 ALTER TABLE `asset_revaluations` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_revaluations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `asset_transfers`
--

LOCK TABLES `asset_transfers` WRITE;
/*!40000 ALTER TABLE `asset_transfers` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_transfers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `attendance_archive`
--

LOCK TABLES `attendance_archive` WRITE;
/*!40000 ALTER TABLE `attendance_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `audit_logs_archive`
--

LOCK TABLES `audit_logs_archive` WRITE;
/*!40000 ALTER TABLE `audit_logs_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `backup_verification_logs`
--

LOCK TABLES `backup_verification_logs` WRITE;
/*!40000 ALTER TABLE `backup_verification_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `backup_verification_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `bank_reconciliations`
--

LOCK TABLES `bank_reconciliations` WRITE;
/*!40000 ALTER TABLE `bank_reconciliations` DISABLE KEYS */;
/*!40000 ALTER TABLE `bank_reconciliations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `bank_statement_lines`
--

LOCK TABLES `bank_statement_lines` WRITE;
/*!40000 ALTER TABLE `bank_statement_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `bank_statement_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `bank_statements`
--

LOCK TABLES `bank_statements` WRITE;
/*!40000 ALTER TABLE `bank_statements` DISABLE KEYS */;
/*!40000 ALTER TABLE `bank_statements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `batches`
--

LOCK TABLES `batches` WRITE;
/*!40000 ALTER TABLE `batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `beds`
--

LOCK TABLES `beds` WRITE;
/*!40000 ALTER TABLE `beds` DISABLE KEYS */;
/*!40000 ALTER TABLE `beds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `branches`
--

LOCK TABLES `branches` WRITE;
/*!40000 ALTER TABLE `branches` DISABLE KEYS */;
/*!40000 ALTER TABLE `branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `budget_lines`
--

LOCK TABLES `budget_lines` WRITE;
/*!40000 ALTER TABLE `budget_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `budget_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `budget_versions`
--

LOCK TABLES `budget_versions` WRITE;
/*!40000 ALTER TABLE `budget_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `budget_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `budgets`
--

LOCK TABLES `budgets` WRITE;
/*!40000 ALTER TABLE `budgets` DISABLE KEYS */;
/*!40000 ALTER TABLE `budgets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `calendar_event_reminders`
--

LOCK TABLES `calendar_event_reminders` WRITE;
/*!40000 ALTER TABLE `calendar_event_reminders` DISABLE KEYS */;
/*!40000 ALTER TABLE `calendar_event_reminders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `calendar_events`
--

LOCK TABLES `calendar_events` WRITE;
/*!40000 ALTER TABLE `calendar_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `calendar_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cash_memos`
--

LOCK TABLES `cash_memos` WRITE;
/*!40000 ALTER TABLE `cash_memos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_memos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cds_findings`
--

LOCK TABLES `cds_findings` WRITE;
/*!40000 ALTER TABLE `cds_findings` DISABLE KEYS */;
/*!40000 ALTER TABLE `cds_findings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cds_rule_versions`
--

LOCK TABLES `cds_rule_versions` WRITE;
/*!40000 ALTER TABLE `cds_rule_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `cds_rule_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cds_rules`
--

LOCK TABLES `cds_rules` WRITE;
/*!40000 ALTER TABLE `cds_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `cds_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `certificate_types`
--

LOCK TABLES `certificate_types` WRITE;
/*!40000 ALTER TABLE `certificate_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `certificate_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `certificates`
--

LOCK TABLES `certificates` WRITE;
/*!40000 ALTER TABLE `certificates` DISABLE KEYS */;
/*!40000 ALTER TABLE `certificates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `chart_of_accounts`
--

LOCK TABLES `chart_of_accounts` WRITE;
/*!40000 ALTER TABLE `chart_of_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `chart_of_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `class_grades`
--

LOCK TABLES `class_grades` WRITE;
/*!40000 ALTER TABLE `class_grades` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_grades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `clinical_audit_logs`
--

LOCK TABLES `clinical_audit_logs` WRITE;
/*!40000 ALTER TABLE `clinical_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinical_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `command_logs`
--

LOCK TABLES `command_logs` WRITE;
/*!40000 ALTER TABLE `command_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `command_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `components`
--

LOCK TABLES `components` WRITE;
/*!40000 ALTER TABLE `components` DISABLE KEYS */;
/*!40000 ALTER TABLE `components` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `countries`
--

LOCK TABLES `countries` WRITE;
/*!40000 ALTER TABLE `countries` DISABLE KEYS */;
/*!40000 ALTER TABLE `countries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `country_pass_mark_defaults`
--

LOCK TABLES `country_pass_mark_defaults` WRITE;
/*!40000 ALTER TABLE `country_pass_mark_defaults` DISABLE KEYS */;
/*!40000 ALTER TABLE `country_pass_mark_defaults` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `course_categories`
--

LOCK TABLES `course_categories` WRITE;
/*!40000 ALTER TABLE `course_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `course_curricula`
--

LOCK TABLES `course_curricula` WRITE;
/*!40000 ALTER TABLE `course_curricula` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_curricula` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `course_materials`
--

LOCK TABLES `course_materials` WRITE;
/*!40000 ALTER TABLE `course_materials` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_materials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `course_requests`
--

LOCK TABLES `course_requests` WRITE;
/*!40000 ALTER TABLE `course_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `course_sub_categories`
--

LOCK TABLES `course_sub_categories` WRITE;
/*!40000 ALTER TABLE `course_sub_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_sub_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `course_subjects`
--

LOCK TABLES `course_subjects` WRITE;
/*!40000 ALTER TABLE `course_subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `crm_activities`
--

LOCK TABLES `crm_activities` WRITE;
/*!40000 ALTER TABLE `crm_activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `crm_activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `crm_contact_types`
--

LOCK TABLES `crm_contact_types` WRITE;
/*!40000 ALTER TABLE `crm_contact_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `crm_contact_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `crm_contacts`
--

LOCK TABLES `crm_contacts` WRITE;
/*!40000 ALTER TABLE `crm_contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `crm_contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `crm_lead_sources`
--

LOCK TABLES `crm_lead_sources` WRITE;
/*!40000 ALTER TABLE `crm_lead_sources` DISABLE KEYS */;
/*!40000 ALTER TABLE `crm_lead_sources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `crm_lead_statuses`
--

LOCK TABLES `crm_lead_statuses` WRITE;
/*!40000 ALTER TABLE `crm_lead_statuses` DISABLE KEYS */;
/*!40000 ALTER TABLE `crm_lead_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `crm_leads`
--

LOCK TABLES `crm_leads` WRITE;
/*!40000 ALTER TABLE `crm_leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `crm_leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `crm_notes`
--

LOCK TABLES `crm_notes` WRITE;
/*!40000 ALTER TABLE `crm_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `crm_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `crm_organizations`
--

LOCK TABLES `crm_organizations` WRITE;
/*!40000 ALTER TABLE `crm_organizations` DISABLE KEYS */;
/*!40000 ALTER TABLE `crm_organizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `crm_tasks`
--

LOCK TABLES `crm_tasks` WRITE;
/*!40000 ALTER TABLE `crm_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `crm_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `currencies`
--

LOCK TABLES `currencies` WRITE;
/*!40000 ALTER TABLE `currencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `currencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `curriculum_lessons`
--

LOCK TABLES `curriculum_lessons` WRITE;
/*!40000 ALTER TABLE `curriculum_lessons` DISABLE KEYS */;
/*!40000 ALTER TABLE `curriculum_lessons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `curriculum_modules`
--

LOCK TABLES `curriculum_modules` WRITE;
/*!40000 ALTER TABLE `curriculum_modules` DISABLE KEYS */;
/*!40000 ALTER TABLE `curriculum_modules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `customer_groups`
--

LOCK TABLES `customer_groups` WRITE;
/*!40000 ALTER TABLE `customer_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `database_alerts`
--

LOCK TABLES `database_alerts` WRITE;
/*!40000 ALTER TABLE `database_alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `database_alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `database_query_logs`
--

LOCK TABLES `database_query_logs` WRITE;
/*!40000 ALTER TABLE `database_query_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `database_query_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `deployment_logs`
--

LOCK TABLES `deployment_logs` WRITE;
/*!40000 ALTER TABLE `deployment_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `deployment_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `dgda_import_batches`
--

LOCK TABLES `dgda_import_batches` WRITE;
/*!40000 ALTER TABLE `dgda_import_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `dgda_import_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `dgda_registrations`
--

LOCK TABLES `dgda_registrations` WRITE;
/*!40000 ALTER TABLE `dgda_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `dgda_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `doctor_availabilities`
--

LOCK TABLES `doctor_availabilities` WRITE;
/*!40000 ALTER TABLE `doctor_availabilities` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_availabilities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `doctor_branch`
--

LOCK TABLES `doctor_branch` WRITE;
/*!40000 ALTER TABLE `doctor_branch` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_branch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `document_categories`
--

LOCK TABLES `document_categories` WRITE;
/*!40000 ALTER TABLE `document_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `document_versions`
--

LOCK TABLES `document_versions` WRITE;
/*!40000 ALTER TABLE `document_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `education_systems`
--

LOCK TABLES `education_systems` WRITE;
/*!40000 ALTER TABLE `education_systems` DISABLE KEYS */;
/*!40000 ALTER TABLE `education_systems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `email_otps`
--

LOCK TABLES `email_otps` WRITE;
/*!40000 ALTER TABLE `email_otps` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_otps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `encounter_diagnoses`
--

LOCK TABLES `encounter_diagnoses` WRITE;
/*!40000 ALTER TABLE `encounter_diagnoses` DISABLE KEYS */;
/*!40000 ALTER TABLE `encounter_diagnoses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `endpoint_performance_logs`
--

LOCK TABLES `endpoint_performance_logs` WRITE;
/*!40000 ALTER TABLE `endpoint_performance_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `endpoint_performance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `enrollments`
--

LOCK TABLES `enrollments` WRITE;
/*!40000 ALTER TABLE `enrollments` DISABLE KEYS */;
/*!40000 ALTER TABLE `enrollments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `exam_results`
--

LOCK TABLES `exam_results` WRITE;
/*!40000 ALTER TABLE `exam_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `exam_subject_components`
--

LOCK TABLES `exam_subject_components` WRITE;
/*!40000 ALTER TABLE `exam_subject_components` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_subject_components` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `exam_subjects`
--

LOCK TABLES `exam_subjects` WRITE;
/*!40000 ALTER TABLE `exam_subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `exam_types`
--

LOCK TABLES `exam_types` WRITE;
/*!40000 ALTER TABLE `exam_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `exams`
--

LOCK TABLES `exams` WRITE;
/*!40000 ALTER TABLE `exams` DISABLE KEYS */;
/*!40000 ALTER TABLE `exams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `exchange_rates`
--

LOCK TABLES `exchange_rates` WRITE;
/*!40000 ALTER TABLE `exchange_rates` DISABLE KEYS */;
/*!40000 ALTER TABLE `exchange_rates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fee_heads`
--

LOCK TABLES `fee_heads` WRITE;
/*!40000 ALTER TABLE `fee_heads` DISABLE KEYS */;
/*!40000 ALTER TABLE `fee_heads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fee_structure_items`
--

LOCK TABLES `fee_structure_items` WRITE;
/*!40000 ALTER TABLE `fee_structure_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `fee_structure_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fee_structures`
--

LOCK TABLES `fee_structures` WRITE;
/*!40000 ALTER TABLE `fee_structures` DISABLE KEYS */;
/*!40000 ALTER TABLE `fee_structures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fiscal_years`
--

LOCK TABLES `fiscal_years` WRITE;
/*!40000 ALTER TABLE `fiscal_years` DISABLE KEYS */;
/*!40000 ALTER TABLE `fiscal_years` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fixed_assets`
--

LOCK TABLES `fixed_assets` WRITE;
/*!40000 ALTER TABLE `fixed_assets` DISABLE KEYS */;
/*!40000 ALTER TABLE `fixed_assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fx_revaluations`
--

LOCK TABLES `fx_revaluations` WRITE;
/*!40000 ALTER TABLE `fx_revaluations` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_revaluations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `gallery_albums`
--

LOCK TABLES `gallery_albums` WRITE;
/*!40000 ALTER TABLE `gallery_albums` DISABLE KEYS */;
/*!40000 ALTER TABLE `gallery_albums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `gallery_media`
--

LOCK TABLES `gallery_media` WRITE;
/*!40000 ALTER TABLE `gallery_media` DISABLE KEYS */;
/*!40000 ALTER TABLE `gallery_media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `geo_imports`
--

LOCK TABLES `geo_imports` WRITE;
/*!40000 ALTER TABLE `geo_imports` DISABLE KEYS */;
/*!40000 ALTER TABLE `geo_imports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `goods_receipt_items`
--

LOCK TABLES `goods_receipt_items` WRITE;
/*!40000 ALTER TABLE `goods_receipt_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `goods_receipt_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `goods_receipts`
--

LOCK TABLES `goods_receipts` WRITE;
/*!40000 ALTER TABLE `goods_receipts` DISABLE KEYS */;
/*!40000 ALTER TABLE `goods_receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `grade_scale_rows`
--

LOCK TABLES `grade_scale_rows` WRITE;
/*!40000 ALTER TABLE `grade_scale_rows` DISABLE KEYS */;
/*!40000 ALTER TABLE `grade_scale_rows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `grade_scales`
--

LOCK TABLES `grade_scales` WRITE;
/*!40000 ALTER TABLE `grade_scales` DISABLE KEYS */;
/*!40000 ALTER TABLE `grade_scales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `grading_scale`
--

LOCK TABLES `grading_scale` WRITE;
/*!40000 ALTER TABLE `grading_scale` DISABLE KEYS */;
/*!40000 ALTER TABLE `grading_scale` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `guardians`
--

LOCK TABLES `guardians` WRITE;
/*!40000 ALTER TABLE `guardians` DISABLE KEYS */;
/*!40000 ALTER TABLE `guardians` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_application_histories`
--

LOCK TABLES `hr_application_histories` WRITE;
/*!40000 ALTER TABLE `hr_application_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_application_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_applications`
--

LOCK TABLES `hr_applications` WRITE;
/*!40000 ALTER TABLE `hr_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_attendance_corrections`
--

LOCK TABLES `hr_attendance_corrections` WRITE;
/*!40000 ALTER TABLE `hr_attendance_corrections` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_attendance_corrections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_attendances`
--

LOCK TABLES `hr_attendances` WRITE;
/*!40000 ALTER TABLE `hr_attendances` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_attendances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_departments`
--

LOCK TABLES `hr_departments` WRITE;
/*!40000 ALTER TABLE `hr_departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_designations`
--

LOCK TABLES `hr_designations` WRITE;
/*!40000 ALTER TABLE `hr_designations` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_designations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_employee_code_sequences`
--

LOCK TABLES `hr_employee_code_sequences` WRITE;
/*!40000 ALTER TABLE `hr_employee_code_sequences` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_employee_code_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_employee_requests`
--

LOCK TABLES `hr_employee_requests` WRITE;
/*!40000 ALTER TABLE `hr_employee_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_employee_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_employee_salary_assignments`
--

LOCK TABLES `hr_employee_salary_assignments` WRITE;
/*!40000 ALTER TABLE `hr_employee_salary_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_employee_salary_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_employee_skills`
--

LOCK TABLES `hr_employee_skills` WRITE;
/*!40000 ALTER TABLE `hr_employee_skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_employee_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_employees`
--

LOCK TABLES `hr_employees` WRITE;
/*!40000 ALTER TABLE `hr_employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_employment_histories`
--

LOCK TABLES `hr_employment_histories` WRITE;
/*!40000 ALTER TABLE `hr_employment_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_employment_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_employment_periods`
--

LOCK TABLES `hr_employment_periods` WRITE;
/*!40000 ALTER TABLE `hr_employment_periods` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_employment_periods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_holidays`
--

LOCK TABLES `hr_holidays` WRITE;
/*!40000 ALTER TABLE `hr_holidays` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_holidays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_interviews`
--

LOCK TABLES `hr_interviews` WRITE;
/*!40000 ALTER TABLE `hr_interviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_interviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_kpis`
--

LOCK TABLES `hr_kpis` WRITE;
/*!40000 ALTER TABLE `hr_kpis` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_kpis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_leave_applications`
--

LOCK TABLES `hr_leave_applications` WRITE;
/*!40000 ALTER TABLE `hr_leave_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_leave_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_leave_balances`
--

LOCK TABLES `hr_leave_balances` WRITE;
/*!40000 ALTER TABLE `hr_leave_balances` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_leave_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_leave_types`
--

LOCK TABLES `hr_leave_types` WRITE;
/*!40000 ALTER TABLE `hr_leave_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_leave_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_offers`
--

LOCK TABLES `hr_offers` WRITE;
/*!40000 ALTER TABLE `hr_offers` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_offers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_payroll_adjustments`
--

LOCK TABLES `hr_payroll_adjustments` WRITE;
/*!40000 ALTER TABLE `hr_payroll_adjustments` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_payroll_adjustments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_payroll_items`
--

LOCK TABLES `hr_payroll_items` WRITE;
/*!40000 ALTER TABLE `hr_payroll_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_payroll_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_payroll_no_sequences`
--

LOCK TABLES `hr_payroll_no_sequences` WRITE;
/*!40000 ALTER TABLE `hr_payroll_no_sequences` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_payroll_no_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_payroll_periods`
--

LOCK TABLES `hr_payroll_periods` WRITE;
/*!40000 ALTER TABLE `hr_payroll_periods` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_payroll_periods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_payrolls`
--

LOCK TABLES `hr_payrolls` WRITE;
/*!40000 ALTER TABLE `hr_payrolls` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_payrolls` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_performance_periods`
--

LOCK TABLES `hr_performance_periods` WRITE;
/*!40000 ALTER TABLE `hr_performance_periods` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_performance_periods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_performance_review_kpis`
--

LOCK TABLES `hr_performance_review_kpis` WRITE;
/*!40000 ALTER TABLE `hr_performance_review_kpis` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_performance_review_kpis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_performance_reviews`
--

LOCK TABLES `hr_performance_reviews` WRITE;
/*!40000 ALTER TABLE `hr_performance_reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_performance_reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_requisitions`
--

LOCK TABLES `hr_requisitions` WRITE;
/*!40000 ALTER TABLE `hr_requisitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_requisitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_salary_structure_components`
--

LOCK TABLES `hr_salary_structure_components` WRITE;
/*!40000 ALTER TABLE `hr_salary_structure_components` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_salary_structure_components` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_salary_structures`
--

LOCK TABLES `hr_salary_structures` WRITE;
/*!40000 ALTER TABLE `hr_salary_structures` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_salary_structures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_training_enrollments`
--

LOCK TABLES `hr_training_enrollments` WRITE;
/*!40000 ALTER TABLE `hr_training_enrollments` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_training_enrollments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_trainings`
--

LOCK TABLES `hr_trainings` WRITE;
/*!40000 ALTER TABLE `hr_trainings` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_trainings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_vacancies`
--

LOCK TABLES `hr_vacancies` WRITE;
/*!40000 ALTER TABLE `hr_vacancies` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_vacancies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_work_shifts`
--

LOCK TABLES `hr_work_shifts` WRITE;
/*!40000 ALTER TABLE `hr_work_shifts` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_work_shifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `identity_audit_logs`
--

LOCK TABLES `identity_audit_logs` WRITE;
/*!40000 ALTER TABLE `identity_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `identity_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `import_batch_rows`
--

LOCK TABLES `import_batch_rows` WRITE;
/*!40000 ALTER TABLE `import_batch_rows` DISABLE KEYS */;
/*!40000 ALTER TABLE `import_batch_rows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `import_batches`
--

LOCK TABLES `import_batches` WRITE;
/*!40000 ALTER TABLE `import_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `import_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `industry_settings`
--

LOCK TABLES `industry_settings` WRITE;
/*!40000 ALTER TABLE `industry_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `industry_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `industry_template_mappings`
--

LOCK TABLES `industry_template_mappings` WRITE;
/*!40000 ALTER TABLE `industry_template_mappings` DISABLE KEYS */;
/*!40000 ALTER TABLE `industry_template_mappings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `installments`
--

LOCK TABLES `installments` WRITE;
/*!40000 ALTER TABLE `installments` DISABLE KEYS */;
/*!40000 ALTER TABLE `installments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_academic_groups`
--

LOCK TABLES `institute_academic_groups` WRITE;
/*!40000 ALTER TABLE `institute_academic_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_academic_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_academic_levels`
--

LOCK TABLES `institute_academic_levels` WRITE;
/*!40000 ALTER TABLE `institute_academic_levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_academic_levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_class_grades`
--

LOCK TABLES `institute_class_grades` WRITE;
/*!40000 ALTER TABLE `institute_class_grades` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_class_grades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_courses`
--

LOCK TABLES `institute_courses` WRITE;
/*!40000 ALTER TABLE `institute_courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_medicines`
--

LOCK TABLES `institute_medicines` WRITE;
/*!40000 ALTER TABLE `institute_medicines` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_medicines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_module_entitlements`
--

LOCK TABLES `institute_module_entitlements` WRITE;
/*!40000 ALTER TABLE `institute_module_entitlements` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_module_entitlements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_module_overrides`
--

LOCK TABLES `institute_module_overrides` WRITE;
/*!40000 ALTER TABLE `institute_module_overrides` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_module_overrides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_payment_gateways`
--

LOCK TABLES `institute_payment_gateways` WRITE;
/*!40000 ALTER TABLE `institute_payment_gateways` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_payment_gateways` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_settings`
--

LOCK TABLES `institute_settings` WRITE;
/*!40000 ALTER TABLE `institute_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_subjects`
--

LOCK TABLES `institute_subjects` WRITE;
/*!40000 ALTER TABLE `institute_subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_subscriptions`
--

LOCK TABLES `institute_subscriptions` WRITE;
/*!40000 ALTER TABLE `institute_subscriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_subscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institute_users`
--

LOCK TABLES `institute_users` WRITE;
/*!40000 ALTER TABLE `institute_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `institute_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institutes`
--

LOCK TABLES `institutes` WRITE;
/*!40000 ALTER TABLE `institutes` DISABLE KEYS */;
/*!40000 ALTER TABLE `institutes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `institution_user`
--

LOCK TABLES `institution_user` WRITE;
/*!40000 ALTER TABLE `institution_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `institution_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_adjustment_items`
--

LOCK TABLES `inventory_adjustment_items` WRITE;
/*!40000 ALTER TABLE `inventory_adjustment_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_adjustment_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_adjustments`
--

LOCK TABLES `inventory_adjustments` WRITE;
/*!40000 ALTER TABLE `inventory_adjustments` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_adjustments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_batches`
--

LOCK TABLES `inventory_batches` WRITE;
/*!40000 ALTER TABLE `inventory_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_categories`
--

LOCK TABLES `inventory_categories` WRITE;
/*!40000 ALTER TABLE `inventory_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_count_items`
--

LOCK TABLES `inventory_count_items` WRITE;
/*!40000 ALTER TABLE `inventory_count_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_count_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_counts`
--

LOCK TABLES `inventory_counts` WRITE;
/*!40000 ALTER TABLE `inventory_counts` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_counts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_items`
--

LOCK TABLES `inventory_items` WRITE;
/*!40000 ALTER TABLE `inventory_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_movements`
--

LOCK TABLES `inventory_movements` WRITE;
/*!40000 ALTER TABLE `inventory_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_serial_numbers`
--

LOCK TABLES `inventory_serial_numbers` WRITE;
/*!40000 ALTER TABLE `inventory_serial_numbers` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_serial_numbers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_stock_levels`
--

LOCK TABLES `inventory_stock_levels` WRITE;
/*!40000 ALTER TABLE `inventory_stock_levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_stock_levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_transfer_items`
--

LOCK TABLES `inventory_transfer_items` WRITE;
/*!40000 ALTER TABLE `inventory_transfer_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_transfer_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_transfers`
--

LOCK TABLES `inventory_transfers` WRITE;
/*!40000 ALTER TABLE `inventory_transfers` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_transfers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_warehouses`
--

LOCK TABLES `inventory_warehouses` WRITE;
/*!40000 ALTER TABLE `inventory_warehouses` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_warehouses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `invoice_items`
--

LOCK TABLES `invoice_items` WRITE;
/*!40000 ALTER TABLE `invoice_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `journal_entries`
--

LOCK TABLES `journal_entries` WRITE;
/*!40000 ALTER TABLE `journal_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `journal_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `journals`
--

LOCK TABLES `journals` WRITE;
/*!40000 ALTER TABLE `journals` DISABLE KEYS */;
/*!40000 ALTER TABLE `journals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `lab_orders`
--

LOCK TABLES `lab_orders` WRITE;
/*!40000 ALTER TABLE `lab_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `lab_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `lab_results`
--

LOCK TABLES `lab_results` WRITE;
/*!40000 ALTER TABLE `lab_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `lab_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `lab_tests`
--

LOCK TABLES `lab_tests` WRITE;
/*!40000 ALTER TABLE `lab_tests` DISABLE KEYS */;
/*!40000 ALTER TABLE `lab_tests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `login_attempts`
--

LOCK TABLES `login_attempts` WRITE;
/*!40000 ALTER TABLE `login_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `login_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medical_departments`
--

LOCK TABLES `medical_departments` WRITE;
/*!40000 ALTER TABLE `medical_departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medical_doctors`
--

LOCK TABLES `medical_doctors` WRITE;
/*!40000 ALTER TABLE `medical_doctors` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_doctors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medical_encounters`
--

LOCK TABLES `medical_encounters` WRITE;
/*!40000 ALTER TABLE `medical_encounters` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_encounters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medical_follow_ups`
--

LOCK TABLES `medical_follow_ups` WRITE;
/*!40000 ALTER TABLE `medical_follow_ups` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_follow_ups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medical_invoices`
--

LOCK TABLES `medical_invoices` WRITE;
/*!40000 ALTER TABLE `medical_invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medical_patient_problems`
--

LOCK TABLES `medical_patient_problems` WRITE;
/*!40000 ALTER TABLE `medical_patient_problems` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_patient_problems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medical_specialties`
--

LOCK TABLES `medical_specialties` WRITE;
/*!40000 ALTER TABLE `medical_specialties` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_specialties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medicine_concepts`
--

LOCK TABLES `medicine_concepts` WRITE;
/*!40000 ALTER TABLE `medicine_concepts` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_concepts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medicine_forms`
--

LOCK TABLES `medicine_forms` WRITE;
/*!40000 ALTER TABLE `medicine_forms` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_forms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medicine_identifiers`
--

LOCK TABLES `medicine_identifiers` WRITE;
/*!40000 ALTER TABLE `medicine_identifiers` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_identifiers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medicine_ingredients`
--

LOCK TABLES `medicine_ingredients` WRITE;
/*!40000 ALTER TABLE `medicine_ingredients` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medicine_product_ingredients`
--

LOCK TABLES `medicine_product_ingredients` WRITE;
/*!40000 ALTER TABLE `medicine_product_ingredients` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_product_ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medicine_products`
--

LOCK TABLES `medicine_products` WRITE;
/*!40000 ALTER TABLE `medicine_products` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medicine_routes`
--

LOCK TABLES `medicine_routes` WRITE;
/*!40000 ALTER TABLE `medicine_routes` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_routes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `medicines`
--

LOCK TABLES `medicines` WRITE;
/*!40000 ALTER TABLE `medicines` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `module_access_logs`
--

LOCK TABLES `module_access_logs` WRITE;
/*!40000 ALTER TABLE `module_access_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `module_access_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `module_registry`
--

LOCK TABLES `module_registry` WRITE;
/*!40000 ALTER TABLE `module_registry` DISABLE KEYS */;
/*!40000 ALTER TABLE `module_registry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `monthly_fee_periods`
--

LOCK TABLES `monthly_fee_periods` WRITE;
/*!40000 ALTER TABLE `monthly_fee_periods` DISABLE KEYS */;
/*!40000 ALTER TABLE `monthly_fee_periods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notices`
--

LOCK TABLES `notices` WRITE;
/*!40000 ALTER TABLE `notices` DISABLE KEYS */;
/*!40000 ALTER TABLE `notices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notification_logs`
--

LOCK TABLES `notification_logs` WRITE;
/*!40000 ALTER TABLE `notification_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notification_preferences`
--

LOCK TABLES `notification_preferences` WRITE;
/*!40000 ALTER TABLE `notification_preferences` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notification_reads`
--

LOCK TABLES `notification_reads` WRITE;
/*!40000 ALTER TABLE `notification_reads` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_reads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notification_templates`
--

LOCK TABLES `notification_templates` WRITE;
/*!40000 ALTER TABLE `notification_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notifications_archive`
--

LOCK TABLES `notifications_archive` WRITE;
/*!40000 ALTER TABLE `notifications_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `number_sequences`
--

LOCK TABLES `number_sequences` WRITE;
/*!40000 ALTER TABLE `number_sequences` DISABLE KEYS */;
INSERT INTO `number_sequences` (`id`, `institute_id`, `sequence_type`, `year`, `last_number`, `created_at`, `updated_at`) VALUES (1,189,'prescription',2026,5,'2026-09-10 04:11:47','2026-09-13 09:03:22'),(3,189,'mr',2026,6,'2026-09-11 14:46:22','2026-09-12 10:17:00');
/*!40000 ALTER TABLE `number_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `nursing_notes`
--

LOCK TABLES `nursing_notes` WRITE;
/*!40000 ALTER TABLE `nursing_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `nursing_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `offline_sync_queue`
--

LOCK TABLES `offline_sync_queue` WRITE;
/*!40000 ALTER TABLE `offline_sync_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `offline_sync_queue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `online_payment_attempts`
--

LOCK TABLES `online_payment_attempts` WRITE;
/*!40000 ALTER TABLE `online_payment_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `online_payment_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `opening_balances`
--

LOCK TABLES `opening_balances` WRITE;
/*!40000 ALTER TABLE `opening_balances` DISABLE KEYS */;
/*!40000 ALTER TABLE `opening_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `package_modules`
--

LOCK TABLES `package_modules` WRITE;
/*!40000 ALTER TABLE `package_modules` DISABLE KEYS */;
/*!40000 ALTER TABLE `package_modules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `parties`
--

LOCK TABLES `parties` WRITE;
/*!40000 ALTER TABLE `parties` DISABLE KEYS */;
/*!40000 ALTER TABLE `parties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `patient_allergies`
--

LOCK TABLES `patient_allergies` WRITE;
/*!40000 ALTER TABLE `patient_allergies` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_allergies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `patients`
--

LOCK TABLES `patients` WRITE;
/*!40000 ALTER TABLE `patients` DISABLE KEYS */;
/*!40000 ALTER TABLE `patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `payment_gateways`
--

LOCK TABLES `payment_gateways` WRITE;
/*!40000 ALTER TABLE `payment_gateways` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_gateways` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `payment_methods`
--

LOCK TABLES `payment_methods` WRITE;
/*!40000 ALTER TABLE `payment_methods` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_methods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pending_registrations`
--

LOCK TABLES `pending_registrations` WRITE;
/*!40000 ALTER TABLE `pending_registrations` DISABLE KEYS */;
INSERT INTO `pending_registrations` (`id`, `email`, `password_hash`, `otp_hash`, `otp_expires_at`, `attempts`, `resend_count`, `last_sent_at`, `verified_at`, `organization_data`, `address_data`, `expires_at`, `created_at`, `updated_at`) VALUES (1,'yeasinsheikh999@gmail.com','$2y$12$TAZbPIysfm8bhsijZaHZbecWak39K.Ii41HnB54aZTfS9Z6NhPrZy','$2y$12$FSswAFrZxdFqCRYiTP7KduQNKB7Mtuc5ldbvFwymCJ41yh4DHBv7G','2026-09-05 05:48:36',0,1,'2026-09-05 05:33:36',NULL,NULL,NULL,'2026-09-06 05:33:36','2026-09-05 05:33:36','2026-09-05 05:33:36');
/*!40000 ALTER TABLE `pending_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pharmacy_dispenses`
--

LOCK TABLES `pharmacy_dispenses` WRITE;
/*!40000 ALTER TABLE `pharmacy_dispenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_dispenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pharmacy_stock`
--

LOCK TABLES `pharmacy_stock` WRITE;
/*!40000 ALTER TABLE `pharmacy_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `phone_2fa_otps`
--

LOCK TABLES `phone_2fa_otps` WRITE;
/*!40000 ALTER TABLE `phone_2fa_otps` DISABLE KEYS */;
/*!40000 ALTER TABLE `phone_2fa_otps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `phone_password_reset_otps`
--

LOCK TABLES `phone_password_reset_otps` WRITE;
/*!40000 ALTER TABLE `phone_password_reset_otps` DISABLE KEYS */;
/*!40000 ALTER TABLE `phone_password_reset_otps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `phone_verification_otps`
--

LOCK TABLES `phone_verification_otps` WRITE;
/*!40000 ALTER TABLE `phone_verification_otps` DISABLE KEYS */;
/*!40000 ALTER TABLE `phone_verification_otps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `platform_admins`
--

LOCK TABLES `platform_admins` WRITE;
/*!40000 ALTER TABLE `platform_admins` DISABLE KEYS */;
/*!40000 ALTER TABLE `platform_admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `platform_audit_logs`
--

LOCK TABLES `platform_audit_logs` WRITE;
/*!40000 ALTER TABLE `platform_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `platform_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `platform_service_configs`
--

LOCK TABLES `platform_service_configs` WRITE;
/*!40000 ALTER TABLE `platform_service_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `platform_service_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `platform_staff_permissions`
--

LOCK TABLES `platform_staff_permissions` WRITE;
/*!40000 ALTER TABLE `platform_staff_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `platform_staff_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `platform_staffs`
--

LOCK TABLES `platform_staffs` WRITE;
/*!40000 ALTER TABLE `platform_staffs` DISABLE KEYS */;
/*!40000 ALTER TABLE `platform_staffs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `prescription_audit_logs`
--

LOCK TABLES `prescription_audit_logs` WRITE;
/*!40000 ALTER TABLE `prescription_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `prescription_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `prescription_items`
--

LOCK TABLES `prescription_items` WRITE;
/*!40000 ALTER TABLE `prescription_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `prescription_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `prescriptions`
--

LOCK TABLES `prescriptions` WRITE;
/*!40000 ALTER TABLE `prescriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `prescriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `promotion_decision_items`
--

LOCK TABLES `promotion_decision_items` WRITE;
/*!40000 ALTER TABLE `promotion_decision_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotion_decision_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `promotion_decisions`
--

LOCK TABLES `promotion_decisions` WRITE;
/*!40000 ALTER TABLE `promotion_decisions` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotion_decisions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `promotion_policies`
--

LOCK TABLES `promotion_policies` WRITE;
/*!40000 ALTER TABLE `promotion_policies` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotion_policies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `promotion_policy_rules`
--

LOCK TABLES `promotion_policy_rules` WRITE;
/*!40000 ALTER TABLE `promotion_policy_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotion_policy_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_invoice_items`
--

LOCK TABLES `purchase_invoice_items` WRITE;
/*!40000 ALTER TABLE `purchase_invoice_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_invoice_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_invoices`
--

LOCK TABLES `purchase_invoices` WRITE;
/*!40000 ALTER TABLE `purchase_invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_order_lines`
--

LOCK TABLES `purchase_order_lines` WRITE;
/*!40000 ALTER TABLE `purchase_order_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_order_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_orders`
--

LOCK TABLES `purchase_orders` WRITE;
/*!40000 ALTER TABLE `purchase_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_quotation_lines`
--

LOCK TABLES `purchase_quotation_lines` WRITE;
/*!40000 ALTER TABLE `purchase_quotation_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_quotation_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_quotations`
--

LOCK TABLES `purchase_quotations` WRITE;
/*!40000 ALTER TABLE `purchase_quotations` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_quotations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_request_items`
--

LOCK TABLES `purchase_request_items` WRITE;
/*!40000 ALTER TABLE `purchase_request_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_request_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_requests`
--

LOCK TABLES `purchase_requests` WRITE;
/*!40000 ALTER TABLE `purchase_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_return_items`
--

LOCK TABLES `purchase_return_items` WRITE;
/*!40000 ALTER TABLE `purchase_return_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_return_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_returns`
--

LOCK TABLES `purchase_returns` WRITE;
/*!40000 ALTER TABLE `purchase_returns` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_returns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_sequences`
--

LOCK TABLES `purchase_sequences` WRITE;
/*!40000 ALTER TABLE `purchase_sequences` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_supplier_payments`
--

LOCK TABLES `purchase_supplier_payments` WRITE;
/*!40000 ALTER TABLE `purchase_supplier_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_supplier_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `query_fingerprints`
--

LOCK TABLES `query_fingerprints` WRITE;
/*!40000 ALTER TABLE `query_fingerprints` DISABLE KEYS */;
/*!40000 ALTER TABLE `query_fingerprints` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `queue_audit_logs`
--

LOCK TABLES `queue_audit_logs` WRITE;
/*!40000 ALTER TABLE `queue_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `queue_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `results`
--

LOCK TABLES `results` WRITE;
/*!40000 ALTER TABLE `results` DISABLE KEYS */;
/*!40000 ALTER TABLE `results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `rxnorm_concepts`
--

LOCK TABLES `rxnorm_concepts` WRITE;
/*!40000 ALTER TABLE `rxnorm_concepts` DISABLE KEYS */;
/*!40000 ALTER TABLE `rxnorm_concepts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `rxnorm_import_batches`
--

LOCK TABLES `rxnorm_import_batches` WRITE;
/*!40000 ALTER TABLE `rxnorm_import_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `rxnorm_import_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_deliveries`
--

LOCK TABLES `sales_deliveries` WRITE;
/*!40000 ALTER TABLE `sales_deliveries` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_deliveries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_delivery_lines`
--

LOCK TABLES `sales_delivery_lines` WRITE;
/*!40000 ALTER TABLE `sales_delivery_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_delivery_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_order_lines`
--

LOCK TABLES `sales_order_lines` WRITE;
/*!40000 ALTER TABLE `sales_order_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_order_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_orders`
--

LOCK TABLES `sales_orders` WRITE;
/*!40000 ALTER TABLE `sales_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_quotation_lines`
--

LOCK TABLES `sales_quotation_lines` WRITE;
/*!40000 ALTER TABLE `sales_quotation_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_quotation_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_quotations`
--

LOCK TABLES `sales_quotations` WRITE;
/*!40000 ALTER TABLE `sales_quotations` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_quotations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_return_items`
--

LOCK TABLES `sales_return_items` WRITE;
/*!40000 ALTER TABLE `sales_return_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_return_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_return_refunds`
--

LOCK TABLES `sales_return_refunds` WRITE;
/*!40000 ALTER TABLE `sales_return_refunds` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_return_refunds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_returns`
--

LOCK TABLES `sales_returns` WRITE;
/*!40000 ALTER TABLE `sales_returns` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_returns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sales_sequences`
--

LOCK TABLES `sales_sequences` WRITE;
/*!40000 ALTER TABLE `sales_sequences` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `schema_migrations`
--

LOCK TABLES `schema_migrations` WRITE;
/*!40000 ALTER TABLE `schema_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `schema_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` (`id`, `key`, `value`, `created_at`, `updated_at`) VALUES (1,'dev.page_marker_enabled','0','2026-09-05 05:16:45','2026-09-05 05:16:45'),(6,'medical.dgda.enabled','1','2026-09-09 14:35:25','2026-09-09 14:35:25'),(7,'brand.name','Accumen AI','2026-09-09 14:59:57','2026-09-09 14:59:57'),(8,'brand.footer','','2026-09-09 14:59:57','2026-09-09 14:59:57'),(9,'brand.primary','#0d6efd','2026-09-09 14:59:57','2026-09-09 14:59:57'),(10,'brand.secondary','#fdc90d','2026-09-09 14:59:57','2026-09-09 14:59:57');
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `statement_snapshots`
--

LOCK TABLES `statement_snapshots` WRITE;
/*!40000 ALTER TABLE `statement_snapshots` DISABLE KEYS */;
/*!40000 ALTER TABLE `statement_snapshots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `structure_label_dictionary`
--

LOCK TABLES `structure_label_dictionary` WRITE;
/*!40000 ALTER TABLE `structure_label_dictionary` DISABLE KEYS */;
/*!40000 ALTER TABLE `structure_label_dictionary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `structure_nodes`
--

LOCK TABLES `structure_nodes` WRITE;
/*!40000 ALTER TABLE `structure_nodes` DISABLE KEYS */;
/*!40000 ALTER TABLE `structure_nodes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `structure_template_levels`
--

LOCK TABLES `structure_template_levels` WRITE;
/*!40000 ALTER TABLE `structure_template_levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `structure_template_levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `structure_templates`
--

LOCK TABLES `structure_templates` WRITE;
/*!40000 ALTER TABLE `structure_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `structure_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `student_academic_placements`
--

LOCK TABLES `student_academic_placements` WRITE;
/*!40000 ALTER TABLE `student_academic_placements` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_academic_placements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `student_enrollments`
--

LOCK TABLES `student_enrollments` WRITE;
/*!40000 ALTER TABLE `student_enrollments` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_enrollments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `student_guardians`
--

LOCK TABLES `student_guardians` WRITE;
/*!40000 ALTER TABLE `student_guardians` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_guardians` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `student_placement_nodes`
--

LOCK TABLES `student_placement_nodes` WRITE;
/*!40000 ALTER TABLE `student_placement_nodes` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_placement_nodes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `student_subject_selections`
--

LOCK TABLES `student_subject_selections` WRITE;
/*!40000 ALTER TABLE `student_subject_selections` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_subject_selections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `student_waivers`
--

LOCK TABLES `student_waivers` WRITE;
/*!40000 ALTER TABLE `student_waivers` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_waivers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `subject_academic_assignments`
--

LOCK TABLES `subject_academic_assignments` WRITE;
/*!40000 ALTER TABLE `subject_academic_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `subject_academic_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `subject_requests`
--

LOCK TABLES `subject_requests` WRITE;
/*!40000 ALTER TABLE `subject_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `subject_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `subscription_packages`
--

LOCK TABLES `subscription_packages` WRITE;
/*!40000 ALTER TABLE `subscription_packages` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscription_packages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `supplier_credit_balances`
--

LOCK TABLES `supplier_credit_balances` WRITE;
/*!40000 ALTER TABLE `supplier_credit_balances` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier_credit_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `supplier_refunds`
--

LOCK TABLES `supplier_refunds` WRITE;
/*!40000 ALTER TABLE `supplier_refunds` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier_refunds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `system_backups`
--

LOCK TABLES `system_backups` WRITE;
/*!40000 ALTER TABLE `system_backups` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_backups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `system_health_audits`
--

LOCK TABLES `system_health_audits` WRITE;
/*!40000 ALTER TABLE `system_health_audits` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_health_audits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `system_recovery_times`
--

LOCK TABLES `system_recovery_times` WRITE;
/*!40000 ALTER TABLE `system_recovery_times` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_recovery_times` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `system_schema_versions`
--

LOCK TABLES `system_schema_versions` WRITE;
/*!40000 ALTER TABLE `system_schema_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_schema_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `system_seed_versions`
--

LOCK TABLES `system_seed_versions` WRITE;
/*!40000 ALTER TABLE `system_seed_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_seed_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tax_audit_logs`
--

LOCK TABLES `tax_audit_logs` WRITE;
/*!40000 ALTER TABLE `tax_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tax_groups`
--

LOCK TABLES `tax_groups` WRITE;
/*!40000 ALTER TABLE `tax_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tax_jurisdictions`
--

LOCK TABLES `tax_jurisdictions` WRITE;
/*!40000 ALTER TABLE `tax_jurisdictions` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_jurisdictions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tax_rate_history`
--

LOCK TABLES `tax_rate_history` WRITE;
/*!40000 ALTER TABLE `tax_rate_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_rate_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tax_rates`
--

LOCK TABLES `tax_rates` WRITE;
/*!40000 ALTER TABLE `tax_rates` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_rates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tax_return_lines`
--

LOCK TABLES `tax_return_lines` WRITE;
/*!40000 ALTER TABLE `tax_return_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_return_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tax_return_periods`
--

LOCK TABLES `tax_return_periods` WRITE;
/*!40000 ALTER TABLE `tax_return_periods` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_return_periods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tax_rules`
--

LOCK TABLES `tax_rules` WRITE;
/*!40000 ALTER TABLE `tax_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `teacher_academic_assignments`
--

LOCK TABLES `teacher_academic_assignments` WRITE;
/*!40000 ALTER TABLE `teacher_academic_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `teacher_academic_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `teacher_code_sequences`
--

LOCK TABLES `teacher_code_sequences` WRITE;
/*!40000 ALTER TABLE `teacher_code_sequences` DISABLE KEYS */;
/*!40000 ALTER TABLE `teacher_code_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `teacher_profiles`
--

LOCK TABLES `teacher_profiles` WRITE;
/*!40000 ALTER TABLE `teacher_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `teacher_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tenant_deletion_requests`
--

LOCK TABLES `tenant_deletion_requests` WRITE;
/*!40000 ALTER TABLE `tenant_deletion_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_deletion_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tenant_recovery_archives`
--

LOCK TABLES `tenant_recovery_archives` WRITE;
/*!40000 ALTER TABLE `tenant_recovery_archives` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_recovery_archives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `themes`
--

LOCK TABLES `themes` WRITE;
/*!40000 ALTER TABLE `themes` DISABLE KEYS */;
/*!40000 ALTER TABLE `themes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tpa_claims`
--

LOCK TABLES `tpa_claims` WRITE;
/*!40000 ALTER TABLE `tpa_claims` DISABLE KEYS */;
/*!40000 ALTER TABLE `tpa_claims` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `training_batch_results`
--

LOCK TABLES `training_batch_results` WRITE;
/*!40000 ALTER TABLE `training_batch_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `training_batch_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_module_access`
--

LOCK TABLES `user_module_access` WRITE;
/*!40000 ALTER TABLE `user_module_access` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_module_access` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `vital_signs`
--

LOCK TABLES `vital_signs` WRITE;
/*!40000 ALTER TABLE `vital_signs` DISABLE KEYS */;
/*!40000 ALTER TABLE `vital_signs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `wards`
--

LOCK TABLES `wards` WRITE;
/*!40000 ALTER TABLE `wards` DISABLE KEYS */;
/*!40000 ALTER TABLE `wards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `workflow_histories`
--

LOCK TABLES `workflow_histories` WRITE;
/*!40000 ALTER TABLE `workflow_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `workflow_steps`
--

LOCK TABLES `workflow_steps` WRITE;
/*!40000 ALTER TABLE `workflow_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `workflows`
--

LOCK TABLES `workflows` WRITE;
/*!40000 ALTER TABLE `workflows` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflows` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-13 20:24:50
